<DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Admin Applications{% endblock%}</title>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="/static/css/estilo.css" />
	<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet'>

	<meta charset="UTF-8" />
</head>
<body>

	<nav role="navigation" class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" data-target="navbarCollapse"></button>
		</div>
	</nav>

	<header id='contenido'>
		{% block encabezado %}
		<h1>Admin Applications</h1>
		{% endblock %}
		{% block nav %}
		<nav>
			<a href="{% url 'login' %}">Login</a>
			<a href="#">Inicio</a>
			<a href="{% url 'allApplications' %}">Applications</a>
			<a href="{% url 'allDevices' %}">Devices</a>
			<a href="{% url 'register' %}">Register</a>
			<a href="{% url 'newDevice' %}">NewDevice</a>
			<a href="{% url 'newApplication' %}">NewApplication</a>
		</nav>
		{% endblock %}
	</header>

	<section>
		{% block content %}
		{% endblock %}
	</section>

</body>
</html>