{% extends 'base.html' %}

{% block title %} Main Page {% endblock %}

{% block encabezado %}
	Main Page
{% endblock %}
 
{% block content %}
	<h5>
	<div class="container">
		<span class="label label-primary">Usuario Registrado:</span>
		<span class="label label-default">{{ user.username }}</span>
		<br><br>
    	<span class="label label-primary">Email:</span>
    	<span class="label label-default">{{ user.email }}</span>
    	<br><br>
    	<span class="label label-primary">Nombres:</span>
    	<span class="label label-default">{{ user.first_name }}</span>
    	<br><br>
    	<span class="label label-primary">Apellidos:</span>
    	<span class="label label-default">{{ user.last_name }}</span>
    	<br><br><br>
    	<span class="label label-primary">
    			{{ user.date_joined }}
     			{{ user.last_login }}
    	</span><br>
	</div></h5>
 
{% endblock %}

	